ClientCUI/Service References/AdminServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServerWCF" />
  <xs:element name="AddTrain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerWCF" minOccurs="0" name="tr" nillable="true" type="q1:Train" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTrainResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServerWCF" minOccurs="0" name="st" nillable="true" type="q2:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServerWCF" minOccurs="0" name="trk" nillable="true" type="q3:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTrackResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStationToTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServerWCF" minOccurs="0" name="trk" nillable="true" type="q4:Track" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServerWCF" minOccurs="0" name="st" nillable="true" type="q5:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStationToTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStationToTrackResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServerWCF" minOccurs="0" name="LoadStationsResult" nillable="true" type="q6:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTracks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTracksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServerWCF" minOccurs="0" name="GetTracksResult" nillable="true" type="q7:ArrayOfTrack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>