ClientCUI/Service References/ServerServiceReference/ServerWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationId" type="xs:int" />
      <xs:element minOccurs="0" name="Tracks" nillable="true" type="tns:ArrayOfTrack" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="ArrayOfTrack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Track" nillable="true" type="tns:Track" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrack" nillable="true" type="tns:ArrayOfTrack" />
  <xs:complexType name="Track">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bookings" nillable="true" type="tns:ArrayOfBooking" />
      <xs:element minOccurs="0" name="FromStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stations" nillable="true" type="tns:ArrayOfStation" />
      <xs:element minOccurs="0" name="TimeToArrive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeToLeave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackId" type="xs:int" />
      <xs:element minOccurs="0" name="Trains" nillable="true" type="tns:ArrayOfTrain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Track" nillable="true" type="tns:Track" />
  <xs:complexType name="ArrayOfBooking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooking" nillable="true" type="tns:ArrayOfBooking" />
  <xs:complexType name="Booking">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingId" type="xs:int" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Passenger" nillable="true" type="tns:Passenger" />
      <xs:element minOccurs="0" name="PassengerUserId" type="xs:int" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Track" nillable="true" type="tns:Track" />
      <xs:element minOccurs="0" name="TrackTrackId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Booking" nillable="true" type="tns:Booking" />
  <xs:complexType name="Passenger">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bookings" nillable="true" type="tns:ArrayOfBooking" />
          <xs:element minOccurs="0" name="PassengerId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Passenger" nillable="true" type="tns:Passenger" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfTrain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Train" nillable="true" type="tns:Train" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrain" nillable="true" type="tns:ArrayOfTrain" />
  <xs:complexType name="Train">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tracks" nillable="true" type="tns:ArrayOfTrack" />
      <xs:element minOccurs="0" name="TrainId" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Train" nillable="true" type="tns:Train" />
</xs:schema>