ClientWPF/Service References/PasagerServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PasagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServerWCF" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPasagerService_MakeBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeBooking" />
  </wsdl:message>
  <wsdl:message name="IPasagerService_MakeBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IPasagerService_LoadHours_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadHours" />
  </wsdl:message>
  <wsdl:message name="IPasagerService_LoadHours_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadHoursResponse" />
  </wsdl:message>
  <wsdl:portType name="IPasagerService">
    <wsdl:operation name="MakeBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasagerService/MakeBooking" message="tns:IPasagerService_MakeBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasagerService/MakeBookingResponse" message="tns:IPasagerService_MakeBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadHours">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasagerService/LoadHours" message="tns:IPasagerService_LoadHours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasagerService/LoadHoursResponse" message="tns:IPasagerService_LoadHours_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPasagerService" type="tns:IPasagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeBooking">
      <soap:operation soapAction="http://tempuri.org/IPasagerService/MakeBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadHours">
      <soap:operation soapAction="http://tempuri.org/IPasagerService/LoadHours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PasagerService">
    <wsdl:port name="BasicHttpBinding_IPasagerService" binding="tns:BasicHttpBinding_IPasagerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServerWCF/PasagerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>